/* ========== HTML, BODY ========== */
section {
  height: 500px;
  /* background-color: #eb3541; */
  background-color: #313247;
  /* background-color: rgb(230, 190, 80); */
}
/* ========== End HTML, BODY ========== */

/* ========== NAVIGASI ========== */
.navbar {
  height: 12vh;
  font: 12px/16px "open_sansbold", helvetica, sans-serif;
}
/* ========== End NAVIGASI ========== */

/* ========== BATU, GUNTING, KERTAS ========== */
li {
  margin-bottom: 20px;
}

li img {
  width: 78px;
  height: 78px;
  padding: 11px;
}
/* player */
.listplayer li img:hover {
  transform: scale(1.1) rotate(-10deg);
  cursor: pointer;
}

.terpilih {
  background-color: rgb(250, 250, 250, 1);
  border-radius: 20px;
}

.terpilihCom {
  width: 78px;
  height: 78px;
  background-color: rgb(196, 196, 196, 1);
  border-radius: 20px;
  animation: fadeOut 0.6s alternate forwards;
}

@keyframes fadeOut {
  0% {
    background-color: rgb(196, 196, 196, 1);
  }

  100% {
    background-color: rgb(196, 196, 196, 0);
  }
}
/* end player */

/* ========== End BATU, GUNTING, KERTAS========== */

/* ========== HASIL ========== */
.hasil {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  width: 120px;
}

/* ========== End HASIL ========== */

/* ========== REFRESH ========== */
.refresh {
  margin-top: 10px;
}

.refresh:hover {
  transform: scale(1.2);
}
/* ========== REFRESH End ========== */

/* ========== FORMULR ========== */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.close:target .overlay {
  top: 0;
}

.formulir {
  padding: 20px;
  margin: 120px auto;
  width: 400px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

/* .download:hover{
        transform: scale(1.1);
        cursor: pointer;
} */

/* ========== FORMULR ========== */

.btn-float {
  background-color: #eb3541;
  box-shadow: 0 0 0 #eb3541;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
